{
    "presets" : [
        "@babel/react",
        [
            "@babel/env",
            {
                "debug": false,
                "useBuiltIns": "usage",
                "corejs": "3.13.1"
                // "targets": {
                //     "chrome": "91",
                //     "firefox": "89"
                // }
            }
        ]   
    ],
    "plugins": [
        "@babel/plugin-proposal-nullish-coalescing-operator"
    ]
}