html, body {
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    font-family: "Roboto";
}

body {
    padding: 0;
    margin: auto;
}

input[type="file"] {
    display: none;
}

input:disabled {
    background-color: inherit;
    color: inherit;
}

#app {
    height: 100%;
    width: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
}

#entry-title {
    border-width: 0px;
    font-size: 3rem;
}

#map {
    height: 50vh;
    flex-grow: 1;
}

.MuiAccordion-root.Mui-expanded {
    margin: 0px !important;
}

div[contenteditable] {
    outline: 0px;
}

@media screen and (min-width: 500px) {
    /* html {
        width: 414px
    }
    body {
        width: 414px;
        padding: 0;
        margin: 0;
    } */

    #map {  
        height: 100%;
        flex-grow: 1;
    }
}